@using AmbroBlogProject.Models
@using AmbroBlogProject.Enums
@using AmbroBlogProject.Services
@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic
@using System.Linq
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager 

@model IPagedList<Post>

@{
    ViewData["Title"] = "Home Page";
    var featuredPosts = (List<Post>)ViewData["Featured"];
    var cats = (List<Blog>)ViewData["Categories"];
}

<!-- Start Banner Area -->
<h1 class="d-none">Home Default Blog</h1>
@if (featuredPosts.Any())
{
    <div class="slider-area bg-color-grey" style="padding-bottom:50px;">
        <div class="axil-slide slider-style-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-activation axil-slick-arrow">
                            @foreach (var fPost in featuredPosts)
                           {
                               <div class="content-block">

                                <div class="post-thumbnail">
                                    <a asp-action="Details" asp-controller="Posts" asp-route-slug="@fPost.Slug" tabindex="0">
                                        <img 
                                            src="@_imageService.DecodeImage(fPost.ImageDate, fPost.ContentType)"
                                            alt="@fPost.Title" 
                                            style="max-height:615px;object-fit:cover;">
                                    </a>
                                </div>

                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a class="hover-flip-item-wrapper" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@fPost.BlogId" tabindex="0">
                                                <span class="hover-flip-item">
                                                    <span data-text="@fPost.Blog.Name">@fPost.Blog.Name</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <h2 class="title">
                                        <a asp-action="Details" asp-controller="Posts" asp-route-slug="@fPost.Slug"tabindex="0">@fPost.Title</a>
                                    </h2>
                                    <!-- Post Meta  -->
                                    <div class="post-meta-wrapper with-button">
                                        <div class="post-meta">
                                            <div class="post-author-avatar border-rounded">
                                                <img 
                                                    src="@_imageService.DecodeImage(fPost.BlogUser.ImageData, fPost.BlogUser.ContentType)" 
                                                    alt="@fPost.BlogUser.FullName" 
                                                    style="height:50px; width:50px;">
                                            </div>
                                            <div class="content">
                                                <h6 class="post-author-name">
                                                    <span class="hover-flip-item-wrapper">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@fPost.BlogUser.FullName">@fPost.BlogUser.FullName</span>
                                                        </span>
                                                    </span>
                                                </h6>
                                                <ul class="post-meta-list">
                                                    <li>@fPost.Created.ToString("MMM dd, yyyy")</li>
                                                    @*<li>300k Views</li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="read-more-button cerchio" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <a 
                                                class="axil-button button-rounded hover-flip-item-wrapper" 
                                                asp-action="Details" 
                                                asp-controller="Posts" 
                                                asp-route-slug="@fPost.Slug" 
                                                tabindex="0">
                                                <span class="hover-flip-item">
                                                    <span data-text="Read Post">Read Post</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area post-listview-visible-color axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                @if (Model.Any())
                {
                    @foreach (var post in Model)
                    {
                        <!-- Start Post List  -->
                        <div class="content-block post-list-view axil-control is-active mt--30">
                            <div class="post-thumbnail">
                                <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                                    <img src="@_imageService.DecodeImage(post.ImageDate, post.ContentType)"  alt="@post.Title">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@post.BlogId">
                                            <span class="hover-flip-item">
                                                <span data-text="@post.Blog.Name">@post.Blog.Name</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title"><a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">@post.Title</a></h4>
                                <div class="post-meta-wrapper">
                                    <div class="post-meta">
                                        <div class="content">
                                            <h6 class="post-author-name">
                                                <span class="hover-flip-item-wrapper">  @* TODO: was previously an anchor *@
                                                    <span class="hover-flip-item">
                                                        <span data-text="@post.BlogUser.FullName">@post.BlogUser.FullName</span>
                                                    </span>
                                                </span>
                                            </h6>
                                            <ul class="post-meta-list">
                                                <li>@post.Created.ToString("MMM dd, yyyy")</li>
                                                @*<li>3 min read</li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    @*<ul class="social-share-transparent justify-content-end">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    </ul>*@
                                </div>
                            </div>
                        </div>
                        <!-- End Post List  -->
                    }
                } 
                else
                {
                    <div class="content-block post-list-view axil-control is-active mt--30">
                        <h3>No Posts Found.</h3>
                    </div>
                }
            </div>

            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <!-- Start Sidebar Area  -->
                <div class="sidebar-inner">

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <ul>
                            @foreach (var cat in cats)
                           {
                            <li class="cat-item">
                                <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@cat.Id" class="inner">
                                    <div class="thumbnail">
                                        <img src="@_imageService.DecodeImage(cat.ImageData, cat.ContentType)" alt="@cat.Name" style="width:50px;height:50px;object-fit:cover;">
                                    </div>
                                    <div class="content overflow-hidden">
                                        <h5 class="title text-nowrap text-truncate">@cat.Name</h5>
                                    </div>
                                </a>
                            </li>
                           }
                        </ul>
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_search mb--30">
                        <h5 class="widget-title">Search</h5>
                        <form asp-action="SearchIndex" asp-controller="Posts">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                                <input type="text" name="SearchTerm"  class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_social mb--30">
                        <h5 class="widget-title">Stay In Touch</h5>
                        <!-- Start Post List  -->
                        <ul class="social-icon md-size justify-content-center">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-slack"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->
                </div>
                <!-- End Sidebar Area  -->
            </div>
        </div>
    </div>
</div>


<!-- Pagination controls -->
<div class="container mx-auto text-center">
    <div class="row overflow-hidden">
        <div class='col'>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @(Model.PageCount)
        </div>
    </div>

    <div class="row overflow-hidden">
        <div class='col'>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page}),
                new PagedListRenderOptions 
                {
                    LiElementClasses = new string[] {"page-item"},
                    PageClasses = new string[] {"page-link"}
                }
            )
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.slider-activation').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots: false,
            fade: true,
            adaptiveHeight: true,
            cssEase: 'linear',
            prevArrow: '<button class="slide-arrow prev-arrow"><i class="fas fa-arrow-left"></i></button>',
            nextArrow: '<button class="slide-arrow next-arrow"><i class="fas fa-arrow-right"></i></button>'
        });
        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                timer: 2500
            })
        }
        $(document).ready(function () {
            $("p").tooltip();
        });
    </script>
}